		body {
            margin: 0;
            background-color: #f7f7f7;
            font-family: 'Open Sans', sans-serif;
        }
        button{
            cursor: pointer;
        }
        .myform {
            display: grid;
            margin-left: 50px;
            grid-template-columns: 200px 400px;
            gap: 7%;
            font-size: 17px;
        }
       input[type=text] {
            height: 32px;
        }
        input[type=number] {
            height: 32px;
            margin-right: 15px;
        }
        input[type=tel] {
            height: 32px;
        }
        input[type=address] {
            height: 55px;
        }
        h1 {
            background-color: #333;
            color: white;
            padding: 10px 33px;
            margin-top: 10px;
            font-size: 22px;
        }
        .finalAdd {
            display: grid;
            border: 2px solid #ECEFF1;
            width: 20%;
            margin-left: 20px;
            padding: 6px;
            gap: 6px;
        }
        .myform>button {
            grid-area: 9/2/10/3;
            width: 50%;
            background-color: #E91E63;
            color: white;
            padding: 10px 10px;
            border: 2px solid #E91E63;
        }
        .boxbtn {
            background-color: #E91E63;
            color: white;
            padding: 7px 10px;
            border: 2px solid #E91E63;
            width: 50%;
        }
   		.top-bar {
            background-color: red;
            height: 96px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
         .top-bar>div {
            max-width: 1024px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            font-size: 13px;
        }
           .payment-area{
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            background-color: white;
            min-height: 700px;
            max-width: 1024px;
            margin: auto;
        }
        .deliv{
        	margin-top:200px;
        	font-size:14px;
        	background-color:#ccc;
        	border:1px solid #e5e5e5;   
        }
        .deliv1{
        	margin-top:5px;
        	font-size:14px;
        	background-color:#ccc;
        	border:1px solid #e5e5e5;   
        }
        p{
        	color:grey;
        	margin-left:30px;       
        }
        .p1{
        	color:white;
        }
