@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto/Roboto-regular.ttf);
}
.payment-area{
	margin:auto;
	width:500px;
	background-color:grey;
	padding:20px;
	border-radius:10px;
	color:white;
	font-family: 'Roboto';font-size: 12px;
	font-size:13px;
	
}
p{
	color:red;
	font-size:12px;
}
input{
	width: 100%;
  	box-sizing: none;
  	border: 2px solid grey;
	border-radius:5px;
	height:30px;
	display:block;
	font-family: 'Roboto';font-size: 12px;
}
#hiding{
	width:100%;
	background-color: grey;
	border: none;
	color:white;
	font-size:20px;
}
#rad1{
	width:30px;
	display:inline;
	vertical-align: middle;
}
#rad2{
	width:30px;
	display:inline;
	vertical-align: middle;

}
#vehicle1{
	width:30px;
	display:inline;
	vertical-align: middle;

}
#vehicle2{
	width:30px;
	display:inline;
	vertical-align: middle;

}